.list {
	width: 200px;
	margin: 20px auto;

}

.list-item {
	/* text-decoration: line-through; */
	
}

.list-item.isDone {
	text-decoration: line-through;
}
.list-container {
	
	display: flex;
	justify-content: center;
}

